<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
  <form class="container" [formGroup]="options">

    <mat-form-field appearance="legacy" >
      <mat-label>Name</mat-label>
      <input matInput type="text" placeholder="Name" [formControl]="nameControl" required>
      <mat-error *ngIf="nameControl.invalid">Please enter a name</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Basic outline input</mat-label>
      <ngx-mat-file-input placeholder="Choose file" [formControl]="pathControl" required></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
      <mat-error *ngIf="pathControl.invalid">Please choose a file</mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Description</mat-label>
      <textarea matInput [formControl]="descriptionControl" required></textarea>
      <mat-error *ngIf="descriptionControl.invalid">Please enter a description</mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="submit()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
