<ion-header translucent>
  <ion-toolbar>
    <ion-title>Add Building</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="buildingForm" (ngSubmit)="submitForm()">
    <label>Name</label>
    <input formControlName="name">
    <label>Description</label>
    <textarea formControlName="description"></textarea>
    <button type="submit">Save</button>
  </form>
</ion-content>