<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content class="mat-typography">
  <form class="container" [formGroup]="options">

    <mat-form-field appearance="legacy">
      <mat-label>Current Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Current Password" [formControl]="oldPasswordControl" required>
      <mat-error *ngIf="oldPasswordControl.invalid">Please enter your current password</mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>New Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="New Password" [formControl]="newPasswordControl" required maxlength="12" minlength="6">
      <mat-error *ngIf="newPasswordControl.errors">{{validateNewPassword()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Confirm New Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm New Password" [formControl]="confirmPasswordControl" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="confirmPasswordControl.invalid">Please confirm your new password</mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="changePassword()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
