<mat-card class="fullCard">
  <mat-card-header>
    <mat-card-title>Users</mat-card-title>
    <mat-card-subtitle>List View</mat-card-subtitle>
    <div style="margin-left: auto;">
      <button *ngIf="loggedUser.role.level !== 6" mat-fab color="primary" #tooltip="matTooltip" matTooltip="Invite User" (click)="openDialog()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <app-table-user></app-table-user>
  </mat-card-content>
</mat-card>


