<ion-content fullscreen>
  <ion-list>
    <ion-list-header> Recent Conversations </ion-list-header>
    <ion-fab horizontal="end" vertical="top" slot="fixed">
      <ion-fab-button color="danger" (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-item *ngFor="let building of buildings">
      <ion-avatar slot="start">
        <img src="./avatar-han.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{building.name}}</h2>
        <h3>{{building.description}}</h3>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
      <div>
        <ion-fab horizontal="end" vertical="bottom" slot="fixed">
          <ion-fab-button color="light" class="button-size">
            <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="start">
            <ion-fab-button color="light" (click)="delete(building.id)">
              <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
              <ion-icon name="create"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </div>
    </ion-item>
  </ion-list>
</ion-content>