<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name" >{{currentBuilding.name}}</h1>
    <button mat-icon-button
            *ngIf="hasMoreBuilding()"
            [satPopoverAnchor]="p"
            (click)="p.toggle()"
            matTooltip="Change current Building">
      <mat-icon >location_city</mat-icon>
    </button>
    <sat-popover #p horizontalAlign="center" verticalAlign="below">
      <mat-card>
        <mat-radio-group class="example-radio-group">
          <mat-radio-button class="example-radio-button"
                            [checked]="b.id === currentBuilding.id"
                            (change)="buildingChange($event, b)"
                            *ngFor="let b of buildings"
                            [value]="b.id">
            {{b.name}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </sat-popover>
    <span class="spacer"></span>
    <app-user-menu></app-user-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <app-main-menu></app-main-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet *ngIf="buildingReady"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


